@model MVCEFDemo.Models.Company

@{
    ViewBag.Title = "GenterateRadioButtonList";
}

<h2>GenterateRadioButtonList</h2>

@using (Html.BeginForm())
{
    foreach (var department in Model.departments)
    {
        @*@Html.RadioButtonFor(m=>m.SelectDepartment,department.Id) @department.Name//Horizantal radio button list with out checked radio button
            <br />//vertical radio button list*@

        @Html.RadioButtonFor(m => m.SelectDepartment, department.Id,
        (department.IsSelected.HasValue && department.IsSelected.Value)? new {@checked="checked"} :null
       )@department.Name// checked radio button
        <br />//vertical radio button list
    }
    <br />
    <br />
    <input type="submit" value="Submit" />
}